@model List<BooksToBoxDemo.Models.BookModel>

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #f0f0f0; /* Sayfa arkaplan rengi */
    }

    .full-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Resmi sayfanın arkasına almak için z-index değeri negatif olmalıdır */
        opacity: 1; /* Şeffaflık düzeyi (0 ile 1 arasında) */
    }

    .content {
        position: relative;
        z-index: 1; /* Sayfa içeriğinin resmin üzerinde görünmesini sağlamak için z-index değeri pozitif olmalıdır */
    }
</style>

<div class="full-background">
    <img src="https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="BooksToBox" class="d-block mx-lg-auto img-fluid" width="100%" />
</div>

    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>Show All Books - Admin Functionality</h1>
        </div>
    </div>

    <div class="container py-5">
    @if(Model!= null && Model.Any())
    {
        
        <table class="table">
            <thead>
                <tr>
                    <th>BookID</th>
                    <th>BookName</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var book in Model)
                {
                    <tr>
                        <td>@book.BookID</td>
                        <td>@book.BookName</td>
                        <td>@book.Author</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var category in book.Categories)
                                {
                                    <span class="badge bg-secondary me-1">@category.CategoryName</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area=""
                                asp-controller="AdminBook"
                                asp-action="BookEdit"
                                asp-route-id="@book.BookID">
                                Edit
                            </a>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>


    }
    else
    {
        <p>No Books Found!</p>
    }

    </div>